@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Pacifico&display=swap');

:root {
  --white: #ffffff;
  --bg-grey: #f5f5f5;
  --text-grey: #cecfd9;
  --light-grey: #fafafa;
  --text-black: #1a1a1a;
  --yellow:#fddc00;
  --blue: #3e7bfa;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--bg-grey);
  font-family: 'Inter', sans-serif;
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  align-items: center;
}


#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0px;
  width: 100vw;
  background-color: var(--bg-grey);
}

.headone {
  color: var(--blue);
  font-size: min(48px, 8vw);
  font-family: 'Pacifico', cursive;
}


.headtwo {
  color: var(--text-grey);
  font-weight: 800;
  font-size: min(32px, 5vw);
  letter-spacing: 1px;
}


#survey {
  width: 92vw;
  margin-top: 8px;
  background-color: var(--white);
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.labeltag {
  color: var(--text-black);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: min(24px, 4vw);
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
textarea,
input[type='text'] {
  border: solid 1px #000000;
  border-radius: 5px;
  font-size: min(20px, 4vw);
  padding: 5px 8px;
  resize:none;
}

button {
  all: unset;
  background-color: var(--blue);
  color: #ffffff;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  width: fit-content;
  align-self: center;
}


.slider {
  margin-top: 4px;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: var(--blue);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border: solid 2px var(--blue);
  border-radius: 50%;
  background: var(--white);
}

#footer {
  margin-top: auto;
  font-size: min(18px, 4vw);
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
}

.wrapper{
  background-color: var(--light-grey);
  padding:4px 8px;
  align-self: center;
  border-radius: 12px;
}



.wrapper input[type="radio"] {
  position: absolute;
  opacity: 0;
}


img {
  height: min(3.6rem,10vw);
  width: min(3.6rem,10vw);
  margin: 0.2rem;
}

input[type="radio"]+img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input+img {
  cursor: pointer;
}

/**input[type="radio"]:hover+img,*/
input[type="radio"]:checked+img{
  transform: scale(1.3);
}

